#menu-btn {
    position: fixed;
    top: 1rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    background: #9b4819;
    color: #fff;
    cursor: pointer;
    text-align: center;
    z-index: 10000;
    display: none;
    border: none;
  }
  
  #menu-btn.fa-times {
    background: #fff;
    color: #263238;
  }
  

body {
    background-color: #f4f1e8;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

header {
    background-color: #d69f79;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: #9b4819;
}



header img {
    max-height: 50px; 
}

nav {
    display: flex;
}


nav a {
    color: #8b4513; 
    text-decoration: none;
    margin-left: 5px;
    margin-right: 100px;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background 0.3s ease, color 0.3s ease; 
}

nav a:hover {
    color: #fff; 
    background: #8b4513; 
    padding: 10px 20px; 
}



section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 50px;
    text-align: center; 
    
}
section h1 {
    font-size: 60px;
}

section p {
    color: #000000;
    font-size: 20px;

}

.arch-up {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    max-width: 35%;
    margin-left: 20px;
}

.second-section {
    max-width: 1366px;
    margin: 0 auto;
}

.second-section img.img1 {
    width: 100%;
    height: auto;
}


.third-section {
    background-color: #f4f1e8;
    padding: 50px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: justify; 
}

.third-section img {
    max-width: 55%;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    text-align: justify; 
}

.third-section p:nth-child(odd) {
    font-size: 20px;
    text-align: justify;
    color: #000000; 
}

.third-section p:nth-child(even) {
    font-size: 20px;
    text-align: justify;
    color: #000000;
}

.third-section h2 {
    font-size: 54px;
    text-align: justify; 

}

.design-focuses {
    background-color: #9b4819;
    padding: 50px;
    color: #f4f1e8;
    text-align: center;
    position: relative; 
}


.design-focuses h2 {
    font-size: 46px;
    margin-bottom: 10px;
}

.design-focuses img.circle-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
}

.design-focuses p {
    font-size: 24px;
    color: #000000;
}

.design-focuses img.df5-img {
    width: 328px; 
    height: 384px;
    object-fit: cover; 
    position: absolute; 
    top: 0; 
    left: 0; 
}

.design-focuses-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.focus-item {
    text-align: center;
}

.focus-item img {
    max-width: 100%; 
}

@media only screen and (max-width: 991px) {
    .design-focuses-content {
        flex-direction: column;
        align-items: center;
    }

    .focus-item {
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 575px) {
    .focus-item {
        text-align: left;
    }
}

.project-gallery {
    background-color: #f4f1e8;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%; 

}


.gallery-item {
    display: inline-block;
    width: calc(33.33% - 20px); 
    margin: 10px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 16px;
}

.contact {
    background-color: #9b4819;
    padding: 50px;
    text-align: left;
    color: #f4f1e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-content,
.contact-pesan {
    max-width: 60%;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contact-pesan {
    display: flex;
    align-items: flex-end; 
    margin-bottom: 20px;
}

.contact-pesan img {
    width: 70px; 
    height: 70px;
    margin-right: 15px; 
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: right; 
    color: #000000;
}

.contact-info p {
    margin: 0;
    font-size: 18px;

}


.social-icons .social-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.contact h3 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.contact p {
    font-size: 14px;
    color: #ffffff;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.second-section img,
.design-focuses img.circle-img,
.gallery-item img,
.contact-pesan img {
    animation: fadeInUp 1s ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.design-focuses img.circle-img,
.contact-pesan img {
    animation: fadeInUp 1s ease-out, rotate 5s linear infinite;
}

#bryanImage.clicked {
    animation: moveImage 1s ease-out;
}

@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}


@media only screen and (max-width: 1155px) {
    #menu-btn {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(50px);
        padding: 15px;
        z-index: 1;
        text-align: center;
    }

    nav.show {
        display: flex;
    }

    nav a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

@media only screen and (max-width: 1155px) {
    header {
        padding: 10px;
    }

    section h1 {
        font-size: 36px;
    }

    section p {
        font-size: 16px;
    }

    .arch-up {
        max-width: 100%;
        margin-left: 0;
    }

    .second-section img.img1 {
        width: 100%;
    }

    .third-section img {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .about-section {
        flex-direction: column;
        padding: 20px;
    }

    .contact-pesan img {
        width: 40px;
        height: 40px;
    }
}


@media only screen and (max-width: 575px) {
header {
    padding: 10px;
}

section h1 {
    font-size: 24px;
}

section p {
    font-size: 14px;
}

.arch-up {
    max-width: 100%;
    margin-left: 0;
}

.second-section img.img1 {
    width: 100%;
}

.third-section img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.about-section {
    flex-direction: column;
    padding: 20px;
}

.contact-pesan img {
    width: 30px;
    height: 30px;
}
}

@media only screen and (max-width: 414px) {
hheader {
padding: 10px;
}

section h1 {
font-size: 36px;
}

section p {
font-size: 16px;
}

.arch-up {
max-width: 100%;
margin-left: 0;
}

.second-section img.img1 {
width: 100%;
}

.third-section img {
max-width: 100%;
margin-left: 0;
margin-right: 0;
}

.about-section {
flex-direction: column;
padding: 20px;
}

.contact-pesan img {
width: 40px;
height: 40px;
}
}
